.card {
  background-color: #fff;
  width: 600px;
  border: 1px solid #e6e6e6;
  margin: auto;
  margin-bottom: 30px;
}

.card .commentInput {
  display: flex;
  align-items: center;
}

.card .commentInput img {
  width: 32px;
  padding: 0.5625rem 0.5rem; /* 9px 8px using rem units */
}

.card .commentInput textarea {
  resize: none;
  border: none;
  margin: 1rem; /* 16px using rem units */
  width: calc(100% - 5.5rem); /* 88px using rem units */
  height: 1.125rem; /* 18px using rem units */
  background: none;
}

.card .commentInput textarea:focus {
  outline: none;
}

.card .postImage {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.card .postusername {
  padding: 1rem; /* 16px using rem units */
  display: flex;
  align-items: center;
}

.card .postusername .userDetail {
  display: flex;
  flex-direction: column;
  padding-left: 0.75rem; /* 12px using rem units */
}

.card .postusername .username {
  font-weight: 700;
  cursor: pointer;
}

.card .postusername img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.card .status {
  border-bottom: 1px solid #f2f2f2;
  padding: 0.5rem 0.9375rem; /* 8px 15px using rem units */
}

.card .status .like {
  display: flex;
  padding: 0.25rem 0; /* 4px 0 using rem units */
  gap: 1.5625rem; /* 25px using rem units */
  align-items: center;
  margin-bottom: 0.3125rem; /* 5px using rem units */
}

.card .status .btop {
  padding-top: 0.3125rem; /* 5px using rem units */
  gap: 0.3125rem; /* 5px using rem units */
}

.card .status .btop span {
  padding-left: 0.4375rem; /* 7px using rem units */
}

.card .status .like img {
  padding: 0.25rem 0.25rem; /* 4px 4px using rem units */
  width: 2rem; /* 32px using rem units */
}

/* Dark and Light Mode styles */
.dark {
  background-color: #121212;
  color: #ffffff;
}

.light {
  background-color: #ffffff;
  color: #000000;
}

@media (max-width: 768px) {
  .card {
    width: 92%; /* Responsive width for tablet */
  }
}
@media (max-width: 400px) {
  .card {
    width: 100%; /* Responsive width for tablet */
  }
}
